
<h1>New Image</h1>

<%= form_tag "/images", method: :post do %>
<div>
  Product_ID: <input type="text" name="product_id">
  Image URL:<input type="text" name="url">
  <input type="submit" value="Submit">
<% end %>
</div>