<h1>Your Cart</h1>

<% @cartedproducts.each do |cartedproduct| %>
<div class = "well">

<h2> <%= cartedproduct.product.game_name %></h2>
<%=  cartedproduct.quantity%>

<%= link_to "Remove from Cart", "/cart/#{cartedproduct.id}", method: :delete %>
</div>
 
 <% end %>

 <%= form_tag "/orders", method: :post do %>

 <input type="submit" value="BUY NOW">
 <% end %>