<h1>New Product form</h1>
<%= form_tag 'products', method: :post do %>

<div>
<label>Game Name<input type="text" name="game_name" value=""></label>
</div>

<div>
<label>Player Minimum<input type="text" name="player_min" value=""></label>
</div>

<div>
<label>Player Maximum<input type="text" name="player_max" value=""></label>
</div>

<div>
<label>Time<input type="text" name="time" value=""></label>
</div>

<div>
<label>Age Limit<input type="text" name="age_limit" value=""></label>
</div>

<div>
<label>Image Link<input type="text" name="image" value=""></label>
</div>

<div>
  <input type="submit" value="Done">
</div>
  <% end %>